html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


.main{
    width: 100%;
    max-width: 980px; /*最大縮放寬度*/
    margin: 0 auto;
    padding: 0 15px;
    /*background-color: blanchedalmond;*/
}
.main>header{
    text-align: center;
}

.main>header img.logo{
    width: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
    /*display: block;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;*/
}

.main>nav{
    border-top: 2px solid #8a8000;
    border-bottom: 2px solid #8a8000;
    margin-bottom: 20px;
    /*background-color: aqua;*/
}

.main>nav>ul{
    display: flex;
}

.main>nav>ul>li{
    /*background-color: aqua;*/
    
    /*
    display inline-block的排版方式
    */
    /*display: inline-block;
    width: 33%;*/

    /*
    display flex的排版方式
    */
    flex: 1;

    

    text-align: center;
    height: 75px;
    line-height: 75px;
    font-size: 30px;
    font-weight: bold;
}

.main>nav>ul>li>.nav_item{
    text-decoration: none; /*超連結底線消掉*/
    color: #000000;
    display: block;
    position: relative;
}

.main>nav>ul>li>.nav_item>.nav_child{
    /*background-color: #8a8000;*/
    display: none; /*擴展伸縮*/
    position: absolute;
    width: 100%;

}

.main>nav>ul>li>.nav_item>.nav_child a{
    line-height: 25px;
    text-decoration: none;
    color: #fff;
    background-color: #8a8000;
    display: block;
    font-size: 20px;
    padding: 15px 25px;
    text-align: left; /*靠左*/
}

.main>nav>ul>li>.nav_item>.nav_child a:hover{
    background-color: #000000;
}

.main>nav>ul>li>.nav_item:hover .nav_child{
    display: block;
}

.main>nav>ul>li>.nav_item:hover{
    background-color: #DCDDDD;
}


.content img{
    width: 100%;
}
.ew{
    color: #8a8000;
}

/*shop.html的css*/
.main>.shop_content>.p_content{
    color: #585958;
    line-height: 20px;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-weight: bold;
}

.shop_content>.item_wrap{
    border: 1px solid #8a8000;
}

.shop_content>.item_wrap>.item_row{
    display: flex;
    padding: 15px;
    font-weight: bold;
}

.main>.shop_content>.item_wrap>.item_row>div{
    flex: 1;
}

.shop_content>.item_wrap>.item_row>.item_right .item_tittle{
    border-bottom: 1px solid #8a8000;
    padding-bottom: 3px;
    font-size: 20px;
}

.shop_content>.item_wrap>.item_row>.item_right .item_child{
    display: flex;
}

.price_text{
    color: #8a8000;
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 3px;
}

.game_text{
    line-height: 19px;
    font-size: 15px;
}

.buy_btn{
    margin-top: 10px;
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: #8a8000;
    padding: 10px 7px;
    display: block;
    border-radius: 14px; /*框邊角度*/

}

.buy_btn:hover{
    background-color: #000000;
}

.shop_content>.item_wrap>.item_row>.item_middle{

}

.footer{
    text-align: center;
}

@media(max-width:992px){
    .main>nav>ul{
        flex-direction: column;
    }
    
    .main>nav>ul>li{
        /*background-color: aquamarine;*/
        width: 100%;
    }
}
















