html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


.main{
    width: 100%;
    max-width: 980px; /*最大縮放寬度*/
    margin: 0 auto;
    padding: 0 15px;
    /*background-color: blanchedalmond;*/
}
.main>header{
    text-align: center;
}

.main>header img.logo{
    width: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
    /*display: block;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;*/
}

.main>nav{
    border-top: 2px solid #8a8000;
    border-bottom: 2px solid #8a8000;
    margin-bottom: 20px;
    /*background-color: aqua;*/
}

.main>nav>ul{
    display: flex;
}

.main>nav>ul>li{
    /*background-color: aqua;*/
    
    /*
    display inline-block的排版方式
    */
    /*display: inline-block;
    width: 33%;*/

    /*
    display flex的排版方式
    */
    flex: 1;

    text-align: center;
    height: 75px;
    line-height: 75px;
    font-size: 30px;
    font-weight: bold;
}

.main>nav>ul>li>.nav_item{
    text-decoration: none; /*超連結底線消掉*/
    color: #000000;
    display: block;
    position: relative;
    width: 100%;
    z-index: 5;
}

.main>nav>ul>li>.nav_item>.nav_child{
    /*background-color: #8a8000;*/
    display: none; /*擴展伸縮*/
    position: absolute;
    width: 100%;
}

.main>nav>ul>li>.nav_item>.nav_child a{
    line-height: 25px;
    text-decoration: none;
    color: #fff;
    background-color: #8a8000;
    display: block;
    font-size: 20px;
    padding: 15px 25px;
    text-align: left; /*靠左*/
}

.main>nav>ul>li>.nav_item>.nav_child a:hover{
    background-color: #000000;
}

.main>nav>ul>li>.nav_item:hover .nav_child{
    display: block;
}

.main>nav>ul>li>.nav_item:hover{
    background-color: #DCDDDD;
}


.content img{
    width: 100%;
}
.ew{
    color: #8a8000;
}

/*shop.html的css*/
.main>.shop_content>.p_content{
    color: #585958;
    line-height: 20px;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-weight: bold;
}

.shop_content>.item_wrap{
    border: 1px solid #8a8000;
    font-weight: bold;
}

.shop_content>.item_wrap>.item_row{
    display: flex;
    padding: 15px;
    gap: 15px;
    border-bottom:  1px solid #898000;
}

.shop_content>.item_wrap>.item_row>.item_child




/*.shop_content>.item_wrap>.item_row>div{
    flex: 1; /*自動撐開 平均分配
}*/

.shop_content>.item_wrap>.item_row>.item_left{
    width: 20%;
}

.shop_content>.item_wrap>.item_row>.item_left img{
    width: 100%;
}

.shop_content>.item_wrap>.item_row>.item_middle{
    width: 40%;
    display: flex;
    flex-direction: column;
    /*position: relative;
    */
}



.price{
    color: #827B00;
    font-size: 20px;
}
/*.price{
    position: absolute;
    bottom: 0;
}*/

.item_middle>h2{
    margin: 0;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: auto;
}

.shop_content>.item_wrap>.item_row>.item_right{
    width: 40%;
}

.shop_content>.item_wrap>.item_row>.item_right .item_tittle{
    border-bottom: 1px solid #8a8000;
    padding-bottom: 3px;
    font-size: 20px;
}

.shop_content>.item_wrap>.item_row>.item_right .item_child{
    display: flex;
    margin-top: 10px;
}

.price_text{
    color: #8a8000;
    font-size: 17px;
    margin-top: 7px;
    margin-bottom: 3px;
}

.game_text{
    line-height: 19px;
    font-size: 15px;
}

.buy_btn{
    margin-left: 100px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 20px;
    background: #827B00;
    color: #fff;
    padding: 7px;
    display: block;
    border-radius: 14px; /*框邊角度*/
    /*display: flex;*/

}

.buy_btn:hover{
    background-color: #000000;
}

footer{
    background-color: #898000;
    margin-top: 50px;
}

/*flex 解決方案*/
footer>.main{
    display: flex;
    justify-content: space-between;
    align-items: center; /*垂直置中*/
    height: 120px;
    /*padding-top: 50px;*/  
    font-size: 15px;
    color: #fff;
    text-decoration: none;  
}
footer>.main>ul{
    display: flex;
    font-size: 20px;
    margin-right: auto;
    gap: 15px;
}

footer>.main>ul>li>a{
    text-decoration: none;
    color: #fff;
}

footer>.main>ul:hover{
    border-bottom: 1px solid #fff;
    padding: 7px;
}

/*flex 解決方案2*/
/*footer>.main{
    display: flex;
    height: 120px;
    padding-top: 20px;
}
footer>.main>ul{
    display: flex;
    margin-right: auto;
}*/

/*@media(max-width:992px){
    .main>nav>ul{
        flex-direction: column;
    }
    
    .main>nav>ul>li{
        width: 100%;
    }

    .shop_content>.item_wrap>.item_row {
        flex-direction: column;
    }
    .shop_content>.item_wrap>.item_row>.item_left{
        width: 100%;
    }

    .shop_content>.item_wrap>.item_row>.item_middle{
        width: 100%;
    }

    .shop_content>.item_wrap>.item_row>.item_right{
        width: 100px;
    }    
    }*/
















